body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

td, th {
    text-align: center;
	vertical-align: middle;
}

.flex {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btn-sm {
	margin: 5px;
}

#deleteConfirmationModal .modal-content {
    background-color: #fff;
    border-radius: 8px;
}

#deleteConfirmationModal .modal-header {
    background-color: #dc3545;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

#deleteConfirmationModal .modal-footer {
    border-top: none;
}

.autocomplete-dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.autocomplete-item:hover {
    background-color: #f8f9fa;
}